<h1>Lista de sneakers</h1>
@if (alertMessage) {

<div class="custom-toast">
    {{ alertMessage }}
</div>

}

<div class="d-flex flex-wrap gap-3">


    @for (sneaker of sneakers; track sneaker.id) {

    <div class="card-sneaker">

        <div class="img-wrapper" [ngClass]="{'out-stock-wrapper': sneaker.stock == 0}">

            <img class="img-sneaker" loading="lazy" [src]="sneaker.image" [alt]="sneaker.name">

        </div>

        <div class="sneaker-name">
            {{ sneaker.name }}
        </div>

        <div class="price-container">

            @if (sneaker.clearance) {
            <span class="sale-badge">
                OFERTA
            </span>
            }

            <div [ngClass]="{'clearance': sneaker.clearance}">
                {{ sneaker.price | currency }}
            </div>

        </div>

        <button [routerLink]="['/sneakers', sneaker.id]">
            Ver detalle
        </button>

        @if (sneaker.stock > 0) {

        <app-input-integer [(quantity)]="sneaker.quantity" [max]="sneaker.stock" (maxReached)="maxReached($event)">
        </app-input-integer>

        <button class="btn btn-primary" (click)="addToCart(sneaker)">

            Agregar al carrito

            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#ffffff">

                <path
                    d="M223.5-103.5Q200-127 200-160t23.5-56.5Q247-240 280-240t56.5 23.5Q360-193 360-160t-23.5 56.5Q313-80 280-80t-56.5-23.5Zm400 0Q600-127 600-160t23.5-56.5Q647-240 680-240t56.5 23.5Q760-193 760-160t-23.5 56.5Q713-80 680-80t-56.5-23.5ZM246-720l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z" />
            </svg>

        </button>

        } @else {

        <span class="btn btn-danger">
            SIN STOCK
        </span>

        }

    </div>

    } @empty {

    <div>
        No hay zapatillas disponibles.
    </div>

    }

</div>