@if (alertMessage) {

<div class="custom-toast">
    {{ alertMessage }}
</div>

}

@if (sneaker) {
<div class="breadcrumb">
    <a routerLink="/home">Home</a>
    <span>/</span>
    <span class="current">{{ sneaker.name }}</span>
</div>
<div class="detail-container">

    <div class="detail-image" [ngClass]="{'out-stock-wrapper': sneaker.stock == 0}">
        <img [src]="sneaker.image" [alt]="sneaker.name" loading="lazy">
    </div>

    <div class="detail-info">

        <span class="detail-brand">{{ sneaker.type }}</span>

        <h1>{{ sneaker.name }}</h1>

        <p class="detail-price">
            ${{ sneaker.price }}
        </p>

        <p class="detail-stock">
            Stock disponible:
            <strong>{{ sneaker.stock }}</strong>
        </p>

        @if (sneaker.stock > 0) {

        <app-input-integer [(quantity)]="sneaker.quantity" [max]="sneaker.stock" (maxReached)="maxReached($event)">
        </app-input-integer>

        <button class="btn-add-cart" (click)="addToCart(sneaker)">

            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#ffffff">
                <path
                    d="M223.5-103.5Q200-127 200-160t23.5-56.5Q247-240 280-240t56.5 23.5Q360-193 360-160t-23.5 56.5Q313-80 280-80t-56.5-23.5Zm400 0Q600-127 600-160t23.5-56.5Q647-240 680-240t56.5 23.5Q760-193 760-160t-23.5 56.5Q713-80 680-80t-56.5-23.5ZM246-720l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z" />
            </svg>

            Agregar al carrito

        </button>

        } @else {

        <span class="out-stock">
            SIN STOCK
        </span>

        }

    </div>

</div>

}